* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 18px;
}

nav {
    background: #222;
    position: sticky;
    top: 0;
}

.navbar-main {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar-toggle {
    display: none;
    color: white;
    margin: 15px;
}

.navbar-logo img {
    height: 85px;
    margin: 5px 5px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 3rem;
}

.navbar-item {
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

.navbar-item:hover {
    background-color: dimgrey;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 768px) {
    .navbar-main {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 270px;
        position: absolute;
        top: 100px;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .nav-menu-active {
        background: #222;
        width: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .navbar-item {
        text-align: center;
        padding: 1rem;
        list-style: none;
        width: 100%;
        display: table;
    }

    .navbar-item:hover {
        background-color: dimgrey;
        border-radius: 0;
        transition: all 0.2s ease-out;
    }
    
    .navbar-toggle {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 50%);
        font-size: 1.8rem;
    }

    .fa-times {
        font-size: 2rem;
        transform: translate(-30%);
    }
}