nav {
    background: #222;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-main {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar-toggle {
    display: none;
    color: white;
    margin: 15px;
}

.navbar-logo img {
    height: 85px;
    margin: 5px 5px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 3rem;
}

.navbar-item {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

.navbar-item:hover {
    background-color: dimgrey;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.nav-link {
    height: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .navbar-main {
        height: 61px;
    }

    .navbar-logo {
        z-index: 2;
    }

    .navbar-logo img {
        height: 45px;
        margin: 5px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        top: 60px;
        position: absolute;
        opacity: 0;
        transform:translate(0, -100%) ;
        transition: all 0.5s ease;
        margin-right: 0;
        gap: 0;
        z-index: 0;
    }

    .nav-menu-active {
        background: #222;
        width: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .navbar-item {
        text-align: center;
        padding: 1rem;
        list-style: none;
        width: 100%;
    }

    .navbar-item:hover {
        background-color: dimgrey;
        border-radius: 0;
        transition: all 0.2s ease-out;
        cursor: pointer;
    }
    
    .navbar-toggle {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-30%);
        z-index: 2;
    }

    .fa-bars {
        font-size: 1.35rem;
    }

    .fa-times {
        font-size: 1.4rem;
        transform: translate(-25%);
    }
}