.prices {
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 5px;
    background-color: whitesmoke;
}

th, td {
    font-size: 0.7rem;
}
th {
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #bdbec2;
}